<div class="d-flex flex-column  justify-content-center align-items-center" id="sing-up">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()" >
      <h3 class="my-3 fw-bold text-center">Please sign up</h3>
      <div class="form-group my-2">
        <label class="fw-bold">Username</label>
        <input type="text" class="form-control" formControlName="username" placeholder="Enter username" required/>
      </div>
      <div class="form-group my-2">
        <label class="fw-bold" >Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password" required />
      </div>
      <div class="form-group my-2">
        <label class="fw-bold" >Role</label>
        <select class="form-control" formControlName="role">
          <option [ngValue]="null" disabled>Choose your role</option>
          <option *ngFor="let role of roles" [ngValue]="role">
            {{role}}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </form>
  </div>